<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="logo logo-footer logo-gray pull-right"></div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2016 Based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Edited by <a href="http://www.daviddao.de" target="_blank">David Dao</a> &amp; <a href="http://www.nickpawlowski.de" target="_blank">Nick Pawlowski</a> &amp; <a href="" target="_blank"> Iris Shih.
			</p>
		</div>
		<div class="col-md-6"><img style="height:30px;float: right;" src="{{ site.baseurl }}/img/sprites/logos.png"></div>
	</div>
</footer>
<!-- End Footer -->
